#container-calendar{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    padding: 0.5em;
    font-family: 'Kanit', sans-serif;
}

@media (max-width: 850px) {
    #container-calendar{
        flex-direction: column;
        max-width: max-content;
    }
}